// TIPOGRAFIA
$fuente_principal: 'Montserrat', sans-serif;

//COLORES
$verde: #EAB75C;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #EAB75C;
$negro: #000;
$blanco: #fff;
$gris: #383838;
$gris2: #8c8bb8;
$fondo: #1e1e43;
// INMOBILIARIA
$bgMain: #283339;
$titulos: #EAB75C;
$titulo2: #A68495;
$texto: #F6F6F6;

$clr-primary: #f7cfc8;
$clr-secondary: #4d84c8;
$clr-wht: #fffcf6;


// TAMAÑOS DE MEDIA QUERIES
$minitelefono: 280px;
$telefono: 430px;
$iphone12: 428px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
$tele: 2500px;

